<dl id="builder-basic_group_0" class="rules-group-container">
    <dt class="rules-group-header">
    <div class="btn-group pull-right group-actions">
      <button type="button" class="btn btn-xs btn-success" data-add="rule" (click)="addRule()">
        <i class="glyphicon glyphicon-plus"></i> Add rule
      </button>
      <button type="button" class="btn btn-xs btn-success" data-add="group" (click)="addGroup()">
        <i class="glyphicon glyphicon-plus-sign"></i> Add group
      </button>
    </div>
    <div class="btn-group group-conditions">
      <label class="btn btn-xs btn-primary" [(ngModel)]="group.condition"
             btnRadio="AND">AND</label>

      <label class="btn btn-xs btn-primary" [(ngModel)]="group.condition"
             btnRadio="OR">OR</label>
    </div>
    <!--<div class="error-container" data-toggle="tooltip">
      <i class="glyphicon glyphicon-warning-sign"></i></div>-->
  </dt>
    <dd class="rules-group-body">
        <ul class="rules-list">
            <li class="rule-container" *ngFor="let rule of group.rules;let i=index">
                <app-query-condition *ngIf="!rule.condition" [rule]="rule" [filters]="filters" (deleted)="onRuleDelete(rule)"></app-query-condition>
                <app-query-group *ngIf="rule.condition" [group]="rule" [filters]="filters"></app-query-group>
            </li>




        </ul>
    </dd>
</dl>