<div class="rule-header">
    <div class="btn-group pull-right rule-actions">
        <button type="button" class="btn btn-xs btn-danger" (click)="deleted.emit(rule)">        
         <i class="glyphicon glyphicon-remove"></i> Delete       </button> </div>
</div>
<!--<div class="error-container" data-toggle="tooltip">
  <i class="glyphicon glyphicon-warning-sign"></i></div>-->
<div class="rule-filter-container">
    <select class="form-control" [(ngModel)]="rule.id" (change)="onFilterChange($event)">
                <option value="-1">------</option> 

                <option *ngFor="let filter of filters" [value]="filter.id">{{filter.label}}</option>            
                       
                 </select>
</div>
<div class="rule-operator-container">
    <select class="form-control " [(ngModel)]="rule.operator">
                     <option value="equal">equal</option>
                                  <option value="not_in">not in</option>             
                                  <option value="is_null">is null</option>             
                                  <option value="is_not_null">is not null</option>      
                                   </select>
</div>
<div class="rule-value-container">

    <input type="text" class="form-control" [(ngModel)]="rule.value" *ngIf="currentFilter?.type == 'string'" />
    <select class="form-control" [(ngModel)]="rule.value" *ngIf="currentFilter?.input=='select'">
      <option *ngFor="let v of values" [value]="v">{{currentFilter.values[v]}}</option> <option value="2">Movies</option> 
       </select>
</div>