<div class="rule-header">
    <div class="btn-group pull-right rule-actions">
        <button type="button" class="btn btn-xs btn-danger" (click)="deleted.emit(rule)">        
         <i class="glyphicon glyphicon-remove"></i> Delete       </button> </div>
</div>
<!--<div class="error-container" data-toggle="tooltip">
  <i class="glyphicon glyphicon-warning-sign"></i></div>-->
<div class="rule-filter-container">
    <select class="form-control" [(ngModel)]="rule.id" (change)="onFilterChange($event)">
                <option value="-1">------</option> 

                <option *ngFor="let filter of filters" [value]="filter.id">{{filter.label}}</option>            
                       
                 </select>
</div>
<div class="rule-operator-container">
    <select class="form-control " [(ngModel)]="rule.operator">
                     <option value="equal">equal</option>
                                  <option value="not_in">not in</option>             
                                  <option value="is_null">is null</option>             
                                  <option value="is_not_null">is not null</option>      
                                   </select>
</div>
<div class="rule-value-container">
    <div [ngSwitch]="currentFilter?.input">

        <input type="email" [placeholder]="currentFilter.placeholder" class="form-control" [(ngModel)]="rule.value" *ngSwitchCase="'email'" />
        <input type="month" [placeholder]="currentFilter.placeholder" class="form-control" [(ngModel)]="rule.value" *ngSwitchCase="'month'" />
        <input type="number" [placeholder]="currentFilter.placeholder" class="form-control" [(ngModel)]="rule.value" *ngSwitchCase="'double'" />

        <select class="form-control" [(ngModel)]="rule.value" *ngSwitchCase="'select'">
      <option *ngFor="let v of values" [value]="v">{{currentFilter.values[v]}}</option> <option value="2">Movies</option> 
       </select>
        <datetime [timepicker]="false" [(ngModel)]="rule.value" *ngSwitchCase="'date'"></datetime>
        <ng-container *ngSwitchCase="'radio'">
            <div class="radio abc-radio abc-radio-danger" *ngFor="let rdo of values;let i=index">
                <input type="radio" [name]="uniqueId" [value]="rdo" [attr.id]="uniqueId+'_'+ i" [(ngModel)]="rule.value" />
                <label [attr.for]="uniqueId+'_'+ i">
        {{currentFilter.values[rdo]}}
    </label>
            </div>



        </ng-container>

        <input [type]="currentFilter?.type=='double'?'number':'text'" [max]="currentFilter?.validation?.max" [min]="currentFilter?.validation?.min" [step]="currentFilter?.validation?.step" class="form-control" [(ngModel)]="rule.value" *ngSwitchDefault/>

    </div>

</div>